*{
    margin:0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}
.ranaway{
    height: 200px;
    width: 100%;
    background-image: url(images/road.jpg);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.airplane{
    width: 500px;
    position: absolute;
    bottom:150px;
    right:-200px;
    animation: plan 4s linear infinite;
    transform-origin: 100% 50%;
}
@keyframes plan {
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    30%{
        transform: translateX(-500px) translateY(0px) rotate(0deg);
    }
    100%{
        transform: translateX(-1500px) translateY(-200px) rotate(20deg);
    }
}