.container{
    display: flex;
    background: yellowgreen;
}
.box{
    background-color: green;
    width: 250px;
    height: 250px; 
    position: relative;
    animation-name: showrov;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes showrov{
    from{
        width: 200px;

    }
    to{
        width: 400px;
    }
}